---
import Location from '@components/links/location.astro';
import PdfLink from '@components/links/pdf.astro';
import GitHubLink from '@components/links/github.astro';
import StravaLink from '@components/links/strava.astro';

import './Section.scss';
---
<section id="banner">
  <div class="container">
    <div class="me">
      <img src="/assets/photos/me-high.webp" title="Portrait of James Wilmot in front of blurred greenery"/>
    </div>
    <div class="copy">
      <h1>Hi, I’m James</h1>
      <p class="sub">
        &hellip; and I've been & done a little of everything.
        <p>
        I'm a volunteer, research software engineer, adventure bike tourer, 
        harvest farm operations hand, runner, and web application 
        developer. I've worked in non-for-profit, government, university
        and private sectors.

        <p>
        Through <a href="#professional">my work</a>

        <p> 
        I believe in contributing to <a href="#community">community</a>, and its
        power to build connection, resilience and inspiration. 
        <!--
        I've been a 
        rescue volunteer with the <em>NSW State Emergency Service</em>,
        taught ethics as an alternative to Special Religious Education in
        NSW public schools delivered by <em>Primary Ethics</em>, mentored
        autistic childen in <em>The Lab</em> technology clubs and worked
        as a charity op-shop as a volunteer.
        -->
        </p>

        <p>
        From sailing on the <em>STS Young Endeavour</em> to riding the length of Aotearoa New Zealand, 
        I've had the immense privilege of many mad <a href="#adventure">adventures</a>.
        </p>


        <p>
        I partner with driven and talented people, teams and organisations to produce extraordinary outcomes.

        <p>
        And I aspire to work a summer in Antartica with the 
      <a href="https://www.antarctica.gov.au/" target="_blank">Australian Antarctic Program</a>.
      <Location>Canberra, Australia</Location>
      <div class="links">
        <ul>
          <li>
            <PdfLink href="https://raw.githubusercontent.com/JamesWilmot/JamesWilmot-Resume/master/professional/James%20Wilmot%20Resume.pdf" target="_blank">Professional resumé</PdfLink>
          </li>
          <li>
            <GitHubLink href="https://github.com/JamesWilmot" target="_blank">JamesWilmot</GitHubLink>
          </li>
          </li>
            <StravaLink href="https://www.strava.com/athletes/22238062" target="_blank">James Wilmot</StravaLink>
          <li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
section#banner {
  container-type: inline-size;
  --gap: 4ch;
  gap: var(--gap);

  @container (width > 1000px ) {
    height: 100vh;
    max-height: 1080px;
    min-height: calc(900px + 2em);
    .container {
      display: grid;
      height: 100%;
      grid-template-columns: 1fr 4ch 1fr;
      grid-template-rows: minmax(900px, auto);
      grid-template-areas:
          " main . content ";
    }

    .copy {
      padding-right: 8ch;
    }
    .links, address.location {
      font-size: 0.8em;
    }
  }

  @container (width < 500px ) {
    .container {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-template-areas:
        " content "
        " main ";
    }
    .copy {
      h1 {
        margin-top: 1em;
      }
    }
    .links {
      display: none;
    }
  }

  .me {
    grid-area: main;
  }

  .copy {
    grid-area: content;
  }

  /*
  .links {
    grid-area: footer;
  }
   */

  .me {
    img {
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
    }
  }
  .links {
    ul {
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0;
      padding: 0;
      display: inline-block;
      &:not(:last-child):after {
        content:"—";
      }
    }
  }
  .copy {
    margin: auto 0;
    h1 {
      font-size: 3em;
      margin-bottom: 0;
      font-feature-settings: 'ss08' 1, 'ss07' 1;
    }
    p.sub {
      margin-top: 0;
      margin-bottom: 3em;
    }
  }
}
</style>
