---
import './Section.scss';

import CommunityItem from '@components/items/CommunityItem.astro';
import InstagramLink from '@components/links/instagram.astro';

import { Picture } from 'astro:assets';

import { Slider } from "solid-slider";
import "solid-slider/slider.css";

import ifcPicture from '/assets/ifc2024/timeforchange2.png';
---
<section id="community">
  <div class="container">
    <div class="main">
      <h1>Community</h1>
      <CommunityItem 
             place="Canberra Makerspace"
             position="Executive & community member"
             humanDates="Oct 2021–<em>present</em>"
             location="Giralang, Canberra"
             >
        <p>
        <em><a href="https://canberramaker.space/">Canberra Makerspace</a> is a community run multi-use workshop and meeting space in Giralang.</em>
        </p>
        <p>Make. Hack. Void.</p>
        <p>Responsibilities:</p>
        <ul>
          <li>Workshop management, maintenance & organisation</li>
          <li>Insurance obligations and reporting</li>
          <li>Incorporated association reporting requirements</li>
          <li>Designed, implemented and deployed website (v2.0 coming soon!)</li>
        </ul>
        <div class="grid-tiles">
          <img src="/assets/mhv/talking-cropped.png" />
          <img src="/assets/mhv/metalwork-cropped.png" />
          <img src="/assets/mhv/varvara-cropped.png" />
          <img src="/assets/mhv/mx5-cropped.png" />
          <img src="/assets/mhv/nerd-cropped.png" />
          <img src="/assets/mhv/whs-cropped.png" />
        </div>
      </CommunityItem>
      <CommunityItem 
             place="#thirstyworkcbr"
             humanDates="Feb 2022–<em>present</em>"
             location="Canberra"
             >
             <p>
             <em>
             <InstagramLink href="https://www.instagram.com/explore/tags/thirstyworkcbr/" target="_blank">#thirstyworkcbr</InstagramLink>
                is an inclusive gravel-oriented social ride—whatever your stead as long as you’re comfortable on dirt, no fear, we’ll make sure you make it to the pub!
             </em>
             </p>
             <p>
               Organise and lead community gravel bike rides through Instagram
             </p>
             <div class="grid-tiles">
               <img src="/assets/tw/arbo-cropped.png" />
               <img src="/assets/tw/lbg-cropped.png" />
               <img src="/assets/tw/river-cropped.png" />
               <img src="/assets/tw/james2-cropped.png" />
             </div>
      </CommunityItem>
    </div>
    <aside>
      <CommunityItem 
             place="Independents for Canberra"
             position="Campaign volunteer"
             humanDates="Oct 2024"
             location="Yerrabi electorate, Canberra"
             >
        <p>
        <em>
          <a href="https://www.independentsforcanberra.com/">Independents for
            Canberra</a> is a volunteer-led, community-driven political
          movement that endorses and supports community independents to run for
          office at ACT Elections. </em>
        </p>
        <p>
        Volunteered for <a href="https://www.davidpollard.com.au/">David
          Pollard</a>—an independent candidate for the electorate of
        Yerrabi—during the 2024 ACT Legislative Assembly election campaign</p>
        <figure>
          <img src="/assets/ifc2024/timeforchange2.webp" />
          <figcaption>An example of my handiwork</figcaption>
        </figure>
        <!--
          <Picture src={ifcPicture} formats={['avif', 'webp']} alt="A description of my image." /> 
        -->
      </CommunityItem>
      <CommunityItem 
             place="Central Hockey Club"
             position="SL5 Player"
             humanDates="2024 Season"
             location="Lyneham, Tuggeranong & Jerrabomberra"
             >
        <figure>
          <img src="/assets/hockey/controllingBall.png" />
          <figcaption>Maintaining possession during the grand final</figcaption>
        </figure>
        <figure>
          <img src="/assets/hockey/premiersCropped.png" />
          <figcaption>SL5 Premiers for Season 2024</figcaption>
        </figure>
        <!--
          <Picture src={ifcPicture} formats={['avif', 'webp']} alt="A description of my image." /> 
        -->
      </CommunityItem>
      <CommunityItem 
             place="Y's-buys"
             position="Volunteer shop attendant"
             humanDates="Aug 2018–Mar 2020"
             location="Belconnen, Canberra"
             >
             <p><em>Y's-buys was an op shop operated by <a href="https://ymcacanberra.org.au/">YMCA Canberra</a> raising funds to support community services.</em></p>
       <p>Responsibilities:</p>
        <ul>
          <li>Donation sorting, pricing & placing out for display</li>
          <li>Management of a fairly substantial book library</li>
          <li>Customer service</li>
        </ul>
      </CommunityItem>
      <CommunityItem 
             place="The Lab"
             position="Mentor"
             humanDates="Jun 2014–Dec 2016"
             location="Dee Why, Sydney"
             >
        <p><em>
          <a href="https://thelab.org.au/">The Lab</a> is a network of technology clubs for 
          autistic children and young people who enjoy working with computers.
        </em></p>
      </CommunityItem>
      <CommunityItem 
             place="Code Rangers"
             position="Assistant teacher"
             humanDates="Apr 2016–Nov 2016"
             location="Sydney"
             >
             <p><em>Code Rangers was an organisation providing coding lessons in schools.</em></p>
      </CommunityItem>
      <CommunityItem 
             place="Cana Communities"
             position="Overnight stay volunteer"
             humanDates="2015"
             location="Redfern, Sydney"
             >
             <p>
      <em>
        <a href="https://www.cana.org.au/">Cana Communities</a> is a not-for-profit charity working 
        with men and women who are experiencing homelessness, addiction, imprisonment, mental 
        health issues and other barriers that have prevented them from creating a positive life for themselves.
      </em>
             </p>
      </CommunityItem>
      <CommunityItem 
             place="State Emergency Service"
             position="Rescue volunteer"
             humanDates="Mar 2012–Jun 2014"
             location="Randwick, Sydney"
             >
             <p>
              <em>
                The NSW <a href="https://www.ses.nsw.gov.au/">State Emergency Service</a> is a volunteer-based emergency service 
                that is responsible for helping communities prepare and respond to 
                floods, storms and tsunami. 
              </em>
             </p>
             <p>Qualifications:</p>
        <ul>
          <li>Senior First Aid</li>
          <li>Storm and Water Rescue</li>
          <li>Maintaining Team Safety</li>
          <li>General Rescue</li>
          <li>Radio Operation</li>
          <li>4WD Operation</li>
        </ul>
      </CommunityItem>
      <CommunityItem 
             place="Primary Ethics"
             position="Volunteer ethics teacher"
             humanDates="Mar 2013–Dec 2014"
             location="Daceyville, Sydney"
             >
             <p>
              <em>
               <a href="https://primaryethics.com.au/">Primary Ethics</a> is an alternative
               to special religious education in New South Wales providing ethics classes for school-aged children. 
              </em>
             </p>
             <p>
              <em>
               In ethics classes, children are guided to develop their skills in critical thinking, ethical reasoning and respectful discussion
              </em>
             </p>
      </CommunityItem>
      <CommunityItem 
             place="Shack Tutoring"
             position="Volunteer tutor"
             humanDates="2008"
             location="UNSW Sydney"
             >
        <p>
      <em>
        <a href="https://www.arc.unsw.edu.au/community/shack-tutoring">Shack tutoring</a> is a 
        volunteer tutoring service run by the Univerity of New South Wales student organisation ARC.
        </em>
       </p>
       <p>NSW HSC Subjects Tutored:</p>
        <ul>
         <li>
           2 Unit & Extension 1 Mathematics
         </li>
          <li>
            Physics
          </li>
          <li>
            Chemistry
           </li>
        </ul>
      </CommunityItem>
    </aside>
  </div>
</section>

<style lang="scss">
  section#community {
    container-type: inline-size;

    .grid-tiles {
      display: grid;
      margin: 0.5em 0;
      grid-template-columns: 1fr 1fr;
    }

    ul {
      margin-top: 0;
    }
    .container {
      --gap: 4ch;
      display: flex;
      gap: var(--gap);
      width: 100%;
      .main {
        flex: 3;
      }
      aside {
        flex: 4;
        columns: 2;
        column-gap: 4ch;
      }
    }
    p {
      margin: 0.5em 0;
    }
    li {
      margin: 0;
    }
  }
</style>
