---
const { place, position, humanDates, location } = Astro.props;

import Location from '../../components/links/location.astro';
---
<h2>{place}</h2>
<span class="position">{position}</span>
<Location>{location}</Location>
<time set:html={humanDates} />
<div class="content">
  <slot />
</div>

<style>
  h2 {
    font-size: 1.15em;
    line-height: 1;
    margin-bottom: 0;
  }

  h2:first-child {
    margin-top: 0;
  }

  .position {
    font-size: 0.95em;
  }
</style>
