---
import './Section.scss';
---

<section id="education">
  <div class="container">
    <div class="main">
      <h1>Education</h1>
      <h2>Bachelor of Science (Physics)</h2>
      <span class="institution">
        University of New South Wales
      </span>
      <ul class="courses">
        <li>
          COMP9242 Advanced Operating Systems (Distinction)
        </li>
        <li>
          COMP3891 Extended Operating Systems (High distinction)
        </li>
        <li>
          PHYS3040 Experimental Physics A1 (High distinction)
        </li>
        <li>
          PHYS3770 Laser and spectroscopy laboratory (Distinction)
        </li>
        <li>
          PHYS2160 Astronomy (High distinction)
        </li>
        <li>
          PHYS2030 Laboratory A (High distinction)
        </li>
        <li>
          PHYS2020 Computational physics (Distinction)
        </li>
      </ul>
    </div>
    <aside>
      <h2>Further training</h2>
      <h3>High risk work & licences</h3>
      <ul>
        <li>
          NSW Heavy Rigid truck licence (condition B)
        </li>
        <li>
          NSW Motorcycle Rider licence
        </li>
        <li>
          CASA Aeronautical Radio Operator Certificate
        </li>
        <li>
          Whitecard, general construction induction (2024)
        </li>
        <li>
          Forklift Truck (LF) licence (<em>lapsed</em>)
        </li>
      </ul>
      <h3>Other certificates</h3>
      <ul>
        <li>
          HLTAID009 Provide cardiopulmonary resuscitation
          (2024)
        </li>
        <li>
          HLTAID010 Provide basic emergency life support
          (2024)
        </li>
        <li>
          HLTAID011 Provide First Aid (2024)
        </li>
        <li>
          HLTAID013 Provide First Aid in remote or isolated
          site (2024)
        </li>
        <li>
          ACMA Amateur radio licence (Foundation)—VK1JLW
        </li>
      </ul>
    </aside>
  </div>
</section>

<style lang="scss">
section#education {
  h1 {
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 1em;
  }

  .main {
    h2 {
      font-size: 1.15em;
      margin-bottom: 0;
    }
  }

  .courses {
    font-size: 0.8em;
    margin-top: 1em;
    columns: 2;
    column-gap: 5ch;
  }

  h3 {
    font-size: 0.85em;
    margin-bottom: 0.25em;
    font-style: italic;
  }

  aside {
    ul {
      font-size: 0.8em;
    }
  }

  .container {
    --gap: 4ch;
    display: flex;
    gap: var(--gap);
    width: 100%;
    .main {
      flex: 1;
    }
    aside {
      flex: 1;
    }
  }

  @container (width < 1000px) {
    .courses {
      columns: 1;
    }
  }
  
  @container (width < 800px) {
    .container {
      flex-direction: column;
      gap: 1em;
    }
  }
}
</style>
