---
import './Section.scss';
import './Common.scss';
import CommunityItem from '@components/items/CommunityItem.astro';
---

<section id="professional">
  <div class="container">
    <div class="main">
      <h1>Work history</h1>
      <CommunityItem 
             place="UNSW Sydney"
             position="Research software engineer"
             humanDates="Jun 2016–<em>current</em>"
             location="Remote"
             >
          <p>
            In the beginning; Varvara, Palli and I implemented
            <a href="http://app.supramolecular.org/bindfit/">Supramolecular.org Bindfit</a>: a binding constant calculator for the web.
          </p>
          <p>
            As part of the
            <a href="https://ardc.edu.au/project/australian-characterisation-commons-at-scale-accs/">ARDC Australian Commons at Scale</a> project we generalised Bindfit by architecting and implementing <em>opendata.fit</em>: a web-based data analysis and publication platform focused on improving reproducibility in research with FAIR data principles.
          </p>
          <p>
            Then continuing our work with the <a href="https://www.rna.unsw.edu.au/">UNSW RNA Institute</a>, we designed 
            <a href="https://docs.opendata.studio/intro/intro/"><em>datakits</em></a>: a data, analysis, visualisation 
            and algorithm execution containerisation format 
            utilising and extending the Frictionless data specifications.
          </p>
          <p>
            Finally, we used <em>datakits</em> to create the 
            <a href="https://opendata.studio/">opendata.studio</a> project: a
            software toolbox that makes publishing reproducible, interactive
            workflows simple.
          </p>
          <h3>CSIRO ON Prime 17</h3>
          <ul>
            <li>Performed 50 customer interviews</li>
            <li>Presented what we learnt and our insights at a showcase</li>
            <li>Won facilitators prize for our cohort</li>
          </ul>
          <h3>eResearch 2024</h3>
          <ul>
            <li><em>Session chair:</em> Research Data Managed and Published</li>
            <li>
              BoF workshop: <a href="https://conference.eresearch.edu.au/data-and-metadata-standards-for-web-publication-of-research-data/">
              Data and metadata standards for web publication of research data
              </a>
            </li>
            <li>
              Lightning talk: <a href="https://conference.eresearch.edu.au/publishing-research-data-with-frictionless-data-packages-for-reproducibility/">
               Publishing research data with Frictionless data packages for reproducibility
              </a>
            </li>
            <li>Poster: <a href="/assets/ods/posters/eResearch2024.pdf">Case study: publishing an interactive, reproducible data workflow using Frictionless data standards</a></li>
          </ul>
          <h3>Supramol 2025 & 2024</h3>
          <ul>
            <li>Poster (2025): <a href="/assets/ods/posters/Supramol25.pdf">Publishing reproducible, interactive binding constant analyses using FAIR data principles</a></li>
            <li>Poster (2024): <a href="/assets/ods/posters/Supramol24.pdf">Introducing opendata.fit - the next iteration of supramolecular.org</a></li>
          </ul>
          <h3>eResearch 2022</h3>
          <ul>
            <li>Talk: Introducing opendata.fit: a FAIR data analysis and publication platform</li>
            <li>Poster: <a href="/assets/ods/posters/eResearch2022.pdf">Introducing opendata.fit: a FAIR data analysis and publication platform</a></li>
          </ul>
          <p>
            <em>Team:</em> <a href="https://echus.co">Varvara Efremova</a>, <a href="https://research.unsw.edu.au/people/professor-pall-thordarson">Prof. Pall Thordarson</a> and myself
          </p>
       </CommunityItem>
      <CommunityItem 
             place="Dumossa"
             position="Harvest operations hand"
             humanDates="2020–23"
             location="Moombooldool, NSW"
             >
        <p>Responsibilities:</p>
             <ul>
            <li>Header operations</li>
            <li>Chaser bin operations</li>
            <li>Basic machinery maintenance</li>
            <li>Field bump-in & bump-out</li>
          </ul>
          <figure>
            <img src="/assets/harvest2023/firefighting.jpg" />
            <figcaption>Firefighting</figcaption>
         </figure>
          <figure>
            <img src="/assets/harvest2023/chasing-cropped.jpg" />
            <figcaption>Dusk header chasing</figcaption>
         </figure>
       </CommunityItem>
      <CommunityItem 
             place="Biotext"
             position="Web developer"
             humanDates="Jul 2017–Jan 2018"
             location="Canberra"
             >
          <p>
          <em><a href="https://www.biotext.com.au/">Biotext</a> are experts in writing, editing, publishing and design who specialise in the understanding and publication of complex information.</em>
          </p>
          <p>Collaborated with in-house designers and editors to design and build <a href="https://remediationaustralasia.com.au/">Remediation Australasia</a>, reflecting the print publication's style and information architecture</p>
       </CommunityItem>
      <CommunityItem 
             place="UNSW Canberra"
             position="Drupal developer"
             humanDates="Apr 2019–Mar 2020"
             location="Canberra"
             >
          <p>
         Maintenance, content and improvement of previous UNSW Canberra Drupal website</p>
       </CommunityItem>
      <CommunityItem 
             place="MTP Services"
             position="Web app developer (contract)"
             humanDates="Jun 2018–Jan 2019"
             location="Canberra"
             >
         <p><em>
            MTP Services is a Canberra based company specialising in IT contracting and recruitment, staﬀ augmentation and project delivery
         </em></p>
         <p>Upgrade of Plant Health Australia's AusPestCheck biosecurity webapp</p>
       </CommunityItem>
      <CommunityItem 
             place="Publicis Front Foot"
             position="Senior developer"
             humanDates="Sep 2015–Mar 2016"
             location="Sydney"
             >
        <p>Senior Developer on gc2018.com website for the Gold Coast
        Commonwealth Games</p>
        <p>Lead team which scaled to 5 developers, liased with senior GOLDOC stakeholders, gitflow release management and feature integration
        </p>
       </CommunityItem>
      <CommunityItem 
             place="Star Entertainment"
             position="Drupal developer (contract)"
             humanDates="Aug–Sep 2015"
             location="Sydney"
             >
       </CommunityItem>
      <CommunityItem 
             place="Digilante"
             position="Drupal & web developer (contract)"
             humanDates="Jun–Aug 2015"
             location="Sydney"
             >
         <p><em>Digilante was as a design and digital agency based in Sydney's The Rocks</em></p>
       </CommunityItem>
      <CommunityItem 
             place="NSW Department of Premier and Cabinet"
             position="Drupal developer (contract)"
             humanDates="Apr–Jun 2015"
             location="Sydney"
             >
         <p>
           Maintenance, content and improvement of previous nsw.gov.au Drupal website
         </p>
       </CommunityItem>
      <CommunityItem 
             place="This Little Duck"
             position="Drupal developer"
             humanDates="Sep 2014–Mar 2015"
             location="Sydney"
             >
         <p><em>
         This Little Duck was a software development studio based in Sydney
         </em></p>
         <p>Worked on (now superseded) UNSW Newsroom and the UNSW Art & Design website
         </p>
       </CommunityItem>
      <CommunityItem 
             place="Conference Magic"
             position="Audiovisual technician"
             humanDates="Sep 2011–Feb 2015"
             location="Launceston, Tas; Port Douglas, QLD; Rotorua, NZ; Darwin, NT; Barossa Valley, SA; Wollongong, NSW; Terrigal, NSW"
             >
             <ul>
               <li>Audiovisual technician for two medical conferences: Spring
                 Seminar on Emergency Medicine and Evidence Review</li>
               <li>Bump-in & bump-out</li>
               <li>Technical support for presenters</li>
             </ul>
      </CommunityItem>
      <CommunityItem 
             place="NICTA"
             position="Research engineer"
             humanDates="Nov 2011–Feb 2013"
             location="Sydney"
             >
           <p>
           <em>NICTA was Australia's Information and Communications
           Technology (ICT) Research Centre of Excellence and is now known as
           CSIRO's Data61</em>
           </p>
           <p>
           Benchmarked & implemented fastpath interprocess communication for
           small messages in the seL4 microkernel</p>

       </CommunityItem>
      <CommunityItem 
             place="Casella Family Brands"
             position="Bottling line hand"
             humanDates="Jan–Feb 2014"
             location="Yenda, NSW"
             >
             <p>
             <em>Casella Family Brands is a family-owned wine company based in
               Australia. Its most well-known brand name is yellow tail.</em>
             </p>
             <ul>
               <li>De-palletiser operator for bottling line</li>
               <li>Forklift consignment picker</li>
             </ul>
       </CommunityItem>
      <CommunityItem 
             place="Coles"
             position="Checkout attendant"
             humanDates="May–Aug 2013"
             location="Hillsdale, Sydney"
             >
       </CommunityItem>
      <CommunityItem 
             place="SIRCA"
             position="Junior linux sysadmin"
             humanDates="Jun–Dec 2013"
             location="Sydney"
             >
             <p> <em>The <a href="https://www.sirca.org.au/">Securities Industry Research Centre of
                 Asia-Pacific (SIRCA)</a> develops and provides 
               data and advanced tools to promote and enable financial research
             and innovation, particularly for member universities. </em>
             </p>
             <ul>
               <li>Confluence migration</li>
               <li>User management and permissions scripting</li>
               <li>Help desk duties</li>
             </ul>
       </CommunityItem>
      <CommunityItem 
             place="Nugan Quality Foods"
             position="Pasteuriser operator"
             humanDates="Nov 2008–Feb 2009 & Nov 2007–Feb 2008"
             location="Hanwood, NSW"
             >
             <p><em>
               Nugan Quality Foods was a producer of fruit juice and concentrate
             </em></p>
             <ul>
               <li>Pasteuriser and tank cleaning, preparation</li>
               <li>Monitoring, testing and finalisation of pasteurisation</li>
               <li>Apple, orange and carrot juice</li>
             </ul>
       </CommunityItem>
      <CommunityItem 
             place="JBS Swift"
             position="Induction shed assistant"
             humanDates="Sep–Nov 2007"
             location="Tabbita, NSW"
             >
       </CommunityItem>
      <CommunityItem 
             place="Local farms"
             position="Farm hand"
             humanDates="Jul–Nov 2007"
             location="Barellan, NSW"
             >
             <ul>
               <li>Fencing</li>
               <li>General labour</li>
          </ul>
       </CommunityItem>
      <CommunityItem 
             place="Casella Family Brands"
             position="Vintage lab assistant"
             humanDates="Jan–Apr 2007"
             location="Barellan, NSW"
             >
             <ul>
               <li>Sample collection from tank farms</li>
               <li>Performing and recording sample lab tests</li>
               <li>Wine additive measurement and records</li>
               <li>Grape testing prior to crushing</li>
               <li>Performing requests from wine makers</li>
            </ul>
       </CommunityItem>
      <CommunityItem 
             place="Atkinson's Hydroponics"
             position="Farm hand"
             humanDates="Nov 2006–Jan 2007"
             location="Yoogali, NSW"
             >
             <ul>
               <li>Lettuce shed hand</li>
               <li>Tomato harvesting</li>
          </ul>
       </CommunityItem>
    </div>
    <aside>
    </aside>
  </div>
</section>

<style lang="scss">
  section#professional {
    h3 {
      font-size: 0.85em;
      margin-bottom: 0.25em;
      font-style: italic;
    }

    .container {
      .main {
        columns: 4;
        column-gap: 4ch;
      }
    }
    @container (width < 1100px) and (width > 850px) {
      .container {
        .main {
          columns: 3;
          column-gap: 2ch;
        }
      }
    }
    @container (width < 850px) {
      .container {
        .main {
          columns: 2;
          column-gap: 2ch;
        }
      }
    }
  }

</style>
