---
const { place, position, humanDates, location } = Astro.props;

import Location from '@components/links/location.astro';
import DateTime from '@components/links/datetime.astro';
---
<div class="community-item">
  <h2>{place}</h2>
  <div class="position">{position}</div>
  <div class="content">
    <slot />
  </div>
  <DateTime set:html={humanDates} />
  <Location>{location}</Location>
</div>

<style lang="scss">
.community-item {
  break-inside: avoid-column;
  margin-top: 1em;

  &:first-child {
    margin-top: 0;
  }

  .content {
    font-size: 0.95em;
  }

  p {
    margin: 0.5em 0;
  }

  ul {
    margin-top: 0;
  }

  .position {
    font-size: 0.95em;
  }

  h3 {
    font-size: 1em;
  }

  h2 {
    // font-size: 1.15em;
    font-size: 1em;
    line-height: 1;
    margin: 0;
  }
}
</style>
